
#user  nobody;
user  root;
worker_processes  4;

error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

pid        logs/nginx.pid;

events {
    use   epoll;
    worker_connections  8192;
}


http {
    include       mime.types;
    default_type  application/octet-stream;
    fastcgi_intercept_errors on;
    #log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    #                  '$status $body_bytes_sent "$http_referer" '
    #                  '"$http_user_agent" "$http_x_forwarded_for"';

    #access_log  logs/access.log  main;

    server_tokens off;
    sendfile   	     on;
    charset utf-8;
    server_names_hash_bucket_size 128;
    client_header_buffer_size 2k;
    large_client_header_buffers 4 4k;
    client_max_body_size 8m;
    tcp_nopush on;
    keepalive_timeout 180;
    proxy_read_timeout 180;
    open_file_cache max=204800 inactive=20s;
    open_file_cache_min_uses 1;
    open_file_cache_valid 30s;
    tcp_nodelay on;
    gzip on;
    gzip_disable "MSIE [1-6]\.";
    gzip_min_length 1k;
    gzip_buffers 4 16k;
    gzip_http_version 1.1;
    gzip_comp_level 4;
    gzip_types text/xml text/plain text/css application/javascript application/x-javascript application/xml;
    gzip_vary on;

    server {
        listen       80;
        server_name	webservices.proxy.sdyzgl.com;
        location / {
		proxy_pass  http://60.216.100.229:10080;
           	proxy_redirect default;
        }
    }

    server {
        listen       80;
        server_name	services.sdyzgl.com;
        location / {
		index  index.jsp index.html index.htm;
		proxy_redirect http://services.sdyzgl.com:9090/ /;
		proxy_pass   http://services.sdyzgl.com:9090/;
		chunked_transfer_encoding	off;
		proxy_set_header Host $host;
		proxy_set_header X-Forwarded-For $remote_addr;
        }

    }


    server{
	listen	80;
	server_name statics.sdyzgl.com;
	root   /xvdb/www/yunzheng/webapps/statics;

	location / {
	    add_header Access-Control-Allow-Origin *;
	    add_header Access-Control-Allow-Headers X-Requested-With;
	    add_header Access-Control-Allow-Methods GET,POST,OPTIONS;
	    index  index.html index.htm;	
	}	
    }
    include     vhosts/sdyzgl.conf;
    
    server{
	listen	80	default;
	server_name _;
	return 404;
    }
}









===================================================================





server {
        listen       80;
	server_name  ~^(?<subdomain>.+).sdyzgl.com$;
        root   /xvdb/www/yunzheng/webapps/$subdomain;
        location / {
            index  index.html index.htm;
        }
        error_page   403 404  /404.html;
        location = /404.html {
            root   /xvdb/www/yunzheng/webapps/error;
        }
        location ^~ /error/ {
            root   /xvdb/www/yunzheng/webapps;
        }
        location ~ .*\.(gif|jpg|jpeg|png|bmp|swf)$
        {
            expires 1h;
        }
        location ~ .*\.(js|css)$
        {
            expires -1s;
        }
        #error_page   500 502 503 504  /50x.html;
        #location = /50x.html {
        #    root   html;
        #}
}